body {
    background-image: url(../img/bg.jpg) ;
}
header {
    
    grid-area: nav;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > a {
    display: inline-block;
    margin-left: 80px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 30px;
    color: #9E9E9E;
    border: 2px solid transparent;
    animation-name: scrolling;
    animation-duration: 2s;
    animation-iteration-count: 1;
    
}


    @keyframes scrolling {
        0% {
           margin-top: 200px;
            
        }
        100% {
            margin-bottom: 0px;
            
        }
    }

.left {
    color: #fff;
    grid-area: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #999;
    border-radius: 200px;
    cursor: pointer;
    box-shadow: 0px 10px 12px #F4F6F7;
    
    
    
    
}
.left:hover {
    transform: translateY(-8%);
    transition: .5s;
    box-shadow: 0px 5px 10px #333;
    
}


.left > h1 {
    font-size: 80px;
}


.right {
    
    grid-area: right;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #999;
    background-image: url(../img/right.jpg);
    background-size: cover;
    border-radius: 200px;
    cursor: pointer;
    box-shadow: 0px 10px 12px #F4F6F7;
}

.right:hover {
    transform: translateY(-8%);
    transition: .5s;
    box-shadow: 0px 5px 10px #333;
}

.right > h1 {
    font-size: 80px;
}

footer {
    background: #999;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

footer > a {
    color: #fff;
}